/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  padding-bottom: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.main-content {
  padding: 15px;
}
.container-narrow > hr {
  margin: 30px 0;
}

ul.nav-level-2.nav>li>a {
  padding: 6px 9px;
}

.nav h4 {
  cursor: default;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}

/*给分页框的内容区加边距和边框*/
.tab-content.tab-bordered {
  border: 1px solid lightgray;
  border-top: none;
  padding: 15px;
  border-radius: 0 0 4px 4px;
}

/*缩略图的外观定制*/
.thumbnail img {
  height: 150px;
}
.thumbnail .items-details {
  height: 3em;
  overflow-y: auto;
}

tr.removed {
  color: darkgray;
  text-decoration: line-through;
}

input[type=checkbox], input[type=radio] {
  width: 16px;
  height: 16px;
}

.tree li {
  cursor: pointer;
  padding-left: 1.3em;
}

.tree ul {
  list-style: none;
  padding-left: 0;
}

.intermediate {
  opacity: 0.3;
}