/* Space out content a bit */
h1, h2, h3 {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.header h1 a:hover {
  text-decoration: none;
}

h2.brief {
  font-size: 21px;
  padding-bottom: 6px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 15px;
}

h3 {
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom: 1px dashed #e5e5e5;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  padding-bottom: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.main-content {
  padding: 0 15px 15px;
}

.container-narrow > hr {
  margin: 30px 0;
}

ul.nav-level-2.nav > li > a {
  padding: 6px 9px;
}

ul.nav-level-2.nav > li > a .glyphicon {
  color: #f0ad4e !important;
}

.nav h4 {
  cursor: default;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}

input[type=checkbox], input[type=radio] {
  width: 16px;
  height: 16px;
}

.tab-panel [hljs] pre {
  margin-top: 15px;
}

.hljs-tag, .hljs-pi {
  background: none;
}

table.table thead th {
  text-align: center;
  vertical-align: middle !important;
}

.layout-table {
  width: 100%;
  table-layout: fixed;
}

.layout-table th {
  width: 4em;
  padding: 6px 0;
}

.layout-table td .progress {
  margin-bottom: 0;
}

.navbar .container {
  padding-right: 10px;
  padding-left: 15px;
  margin-right: 20px;
}

.navbar .navbar-header .navbar-brand {
  color: #FFFFFF;
  background-color: transparent;
  height: 50px;
}

.navbar .navbar-collapse .navbar-nav li {
  min-width: 80px;
  text-align: center;
}

.navbar .navbar-collapse .navbar-nav li.active {
  background: #303436;
}

.navbar .navbar-collapse .navbar-nav li.active a {
  background: #303436;
}

.navbar .navbar-collapse .divider-vertical {
  border-style: solid;
  border-width: 1px;
  opacity: .5;
  height: 50px;
  border-left-color: #111415;
  border-right-color: #646668;
}

.tab-content code.hljs{
    background-color: #f5f5f5;
}