<fieldset>
  <legend>HTML5组件</legend>
  <div class="alert alert-info">
    这里展示的是一组基本HTML5组件，它们都能和ng-model配合工作
  </div>
  <fieldset>
    <legend>单行文本</legend>
    <input type="text" class="form-control" ng-model="vm.text"/>

    <div>您输入的是：{{vm.text}}</div>
  </fieldset>
  <fieldset>
    <legend>搜索框</legend>
    <input type="search" class="form-control" ng-model="vm.search"/>

    <div>您输入的是：{{vm.search}}</div>
  </fieldset>
  <fieldset>
    <legend>多行文本</legend>
    <textarea rows="2" class="form-control" ng-model="vm.textarea"></textarea>

    <div>您输入的是：
      <pre>{{vm.textarea}}</pre>
    </div>
  </fieldset>
  <fieldset>
    <legend>数字</legend>
    <input type="number" class="form-control" ng-model="vm.number"/>

    <div>您输入的是：{{vm.number}}</div>
  </fieldset>
  <fieldset>
    <legend>链接</legend>
    <input type="url" class="form-control" ng-model="vm.url"/>

    <div>您输入的是：{{vm.url}}</div>
  </fieldset>
  <fieldset>
    <legend>邮件地址</legend>
    <input type="email" class="form-control" ng-model="vm.email"/>

    <div>您输入的是：{{vm.email}}</div>
  </fieldset>
  <fieldset>
    <legend>月份</legend>
    <input type="month" class="form-control" ng-model="vm.month"/>

    <div>您输入的是：{{vm.month}}</div>
  </fieldset>
  <fieldset>
    <legend>周</legend>
    <input type="week" class="form-control" ng-model="vm.week"/>

    <div>您输入的是：{{vm.week}}</div>
  </fieldset>
  <fieldset>
    <legend>日期</legend>
    <input type="date" class="form-control" ng-model="vm.date"/>

    <div>您输入的是：{{vm.date}}</div>
  </fieldset>
  <fieldset>
    <legend>时间</legend>
    <input type="time" class="form-control" ng-model="vm.time"/>

    <div>您输入的是：{{vm.time}}</div>
  </fieldset>
  <fieldset>
    <legend>颜色</legend>
    <input type="color" ng-model="vm.color"/>

    <div>您输入的是：{{vm.color}}</div>
  </fieldset>
</fieldset>
