<h4>按钮组风格</h4>
<div class="btn-group">
  <label ng-repeat="value in vm.values"
         ng-class="{btn: true, 'btn-primary': true, active: value.code == vm.selection.code}">
    <input type="radio" class="hidden" name="myTestRadio" ng-model="vm.selection" ng-value="value"/>编号：{{value.code}}，年龄：{{value.age}}
  </label>
</div>


<h4>单选框风格</h4>
<div class="btn-group">
  <label ng-repeat="value in vm.values">
    <input type="radio" name="myTestRadio" ng-model="vm.selection" ng-value="value"
           ng-checked="vm.selection.code == value.code"/>编号：{{value.code}}，年龄：{{value.age}}&nbsp;&nbsp;
  </label>
</div>

<div>
  您选中的是：{{vm.selection}}
</div>

<h3>说明</h3>
这里使用了一个小技巧：给单选框外面的label加上btn btn-primary风格，并且隐藏掉单选框本身，从而让单选组变成了按钮组的外观，而ng-model等机制不变。