.outer-zoom .large-view {
  display: inline-block;
  border: 1px dashed lightgray;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.outer-zoom .large-view img {
  position: absolute;
}

.outer-zoom .small {
  display: inline-block;
  border: 1px dotted darkblue;
  position: relative;
  overflow: hidden;
}

.outer-zoom .small img {
  width: 100%;
}

.outer-zoom .small .small-view {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  opacity: 0.6;
  border: 1px dotted black;
}

.outer-zoom .small .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.01;
}

.inner-zoom {
  position: relative;
  border: 1px dashed lightgray;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.inner-zoom .eagle-eye {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px dashed silver;
}

.inner-zoom .eagle-eye img {
  opacity: 0.2;
}
.inner-zoom .large {
  position: absolute;
  left: 0;
  top: 0;
}

.inner-zoom .small-view {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  opacity: 0.6;
  border: 1px dotted black;
}

.inner-zoom .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.01;
}

.eagle-eye-zoom {
  position: relative;
  border: 1px dashed lightgray;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.eagle-eye-zoom .eagle-eye {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px dashed silver;
}

.eagle-eye-zoom .eagle-eye img {
  opacity: 0.01;
}
.eagle-eye-zoom .large {
  position: absolute;
  left: 0;
  top: 0;
}

.eagle-eye-zoom .small-view {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  opacity: 0.6;
  border: 1px dotted black;
}

.eagle-eye-zoom .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.01;
}