<fieldset>
  <legend>Demo - 把对象作为value</legend>
  <div class="row">
    <div class="col-md-4">
      <select class="form-control" ng-model="vm.country" ng-options="country.label for country in vm.countries">
        <option value="">-- 请选择国家 --</option>
      </select>
    </div>
    <div class="col-md-4" ng-if="vm.country.provinces">
      <select class="form-control" ng-model="vm.province" ng-options="province.label for province in vm.country.provinces">
        <option value="">-- 请选择省份/州 --</option>
      </select>
    </div>
    <div class="col-md-4" ng-if="vm.province.cities">
      <select class="form-control" ng-model="vm.city" ng-options="city.label for city in vm.province.cities">
        <option value="">-- 请选择城市/县区 --</option>
      </select>
    </div>
  </div>
  <div>您选择的是：{{vm.country.label}} - {{vm.province.label}} - {{vm.city.label}}</div>
  <div class="alert alert-info"><h4>说明</h4>这里使用ng-if指令来达到下一级有数据才显示下一级的效果</div>
</fieldset>
