<fieldset>
  <legend>关于ngShowcase开发组</legend>
  这个项目由多人合作开发，大致分工如下：
  <table class="table table-bordered">
    <colgroup>
      <col class="col-response" />
      <col class="col-members"/>
      <col class="col-note"/>
    </colgroup>
    <thead>
    <tr>
      <th>职责</th>
      <th>人员</th>
      <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>项目管理</th>
      <td>雪狼</td>
      <td>发起、协调、杂务</td>
    </tr>
    <tr>
      <th>网站/CI/运维</th>
      <td>why520crazy</td>
      <td>官方www.ngnice.com的主要维护人员</td>
    </tr>
    <tr>
      <th>程序员</th>
      <td>雪狼, Ken, zxsoft, why520crazy, playing</td>
      <td>只列出有提交的部分，随时增补</td>
    </tr>
    <tr>
      <th>顾问</th>
      <td>天猪，破狼，why520crazy</td>
      <td>参与但尚无提交的程序员，或时间有限只做peer review的人员</td>
    </tr>
    <tr>
      <th>测试</th>
      <td>playing</td>
      <td>请到github中提issue，确认bug后即增补在此</td>
    </tr>
    </tbody>
  </table>
</fieldset>
<style>
  .table th {
    table-layout: fixed;
  }
  col.col-response {
    width: 6em;
  }
  col.col-members {
  }
  col.col-note {
    width: 16em;
  }
</style>