<ul class="nav nav-tabs">
  <li ng-class="{active:vm.activePage === 'html'}"><a href="javascript:;" ng-click="vm.activePage = 'html'">HTML</a></li>
  <li ng-class="{active:vm.activePage === 'js'}"><a href="javascript:;" ng-click="vm.activePage = 'js'">JS</a></li>
  <li ng-class="{active:vm.activePage === 'css'}" ng-if="vm.css"><a href="javascript:;" ng-click="vm.activePage = 'css'">CSS</a></li>
</ul>
<div class="tab-content tab-bordered">
  <div class="tab-panel" ng-class="{hidden: vm.activePage !== 'html'}">
    <div hljs source="vm.view" language="html"></div>
  </div>
  <div class="tab-panel" ng-class="{hidden: vm.activePage !== 'js'}">
    <div hljs source="vm.controller" language="javascript"></div>
  </div>
  <div class="tab-panel" ng-class="{hidden: vm.activePage !== 'css'}" ng-if="vm.css">
    <div hljs source="vm.css" language="css"></div>
  </div>
</div>
