<!--<ul class="nav nav-tabs">-->
  <!--<li ng-repeat="file in vm.files" ng-class="{active:vm.isActive(file)}">-->
    <!--<a href="javascript:;" ng-click="vm.setActive(file)">{{file.name}}</a>-->
  <!--</li>-->
<!--</ul>-->
<div class="btn-group">
  <span title="{{file.description}}" class="btn btn-default" ng-repeat="file in vm.files"
        ng-if="file.source" ng-class="{active:vm.isActive(file)}" ng-click="vm.setActive(file)">
    {{file.name}}
  </span>
</div>
<div class="tab-content tab-bordered">
  <div ng-repeat="file in vm.files" class="tab-panel" ng-class="{hidden: !vm.isActive(file)}" ng-if="file.source">
    <div hljs source="file.source" language="{{file.type}}"></div>
  </div>
</div>
